.cab{
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    max-width: 1000px;
    margin: 2em auto;
    opacity: 0.9;
}

h1{
    text-align: center; 

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(taller4img.jpg) ;
    background-size: cover;
      
}
.contenedor {

    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto; 
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [y0] auto [y1];
    padding: 10px;  
    opacity: 0.9;
    grid-gap: 20px;
}

.contenedor div{
    text-align: center; 
}

.sub_contenedor{
    background: rgb(35, 134, 228);
    border-radius: 20px;
}

